<% if payment.respond_to?(:webpay_params) and payment.webpay_params %>
  <dl>
    <dt>Codigo Autorización:</dt>
    <dd><%= payment.webpay_params['authorization_code'] %></dd>

    <dt>ID Transacción:</dt>
    <dd><%= payment.webpay_params['buy_order'] %></dd>
  </dl>
<% end %>
