<div class="panel panel-default" id="payment" data-hook>
  <div class="panel-heading">
    <h3 class="panel-title"><%= Spree.t(:payment_information) %></h3>
  </div>
  <br>
  <div class="panel-body" data-hook="checkout_payment_step">
    <h4>
      <b><%= Spree.t(:payment_type) %>: </b> <%= Spree.t(:webpay_plus) %>
      <%= checkout_edit_link('payment') %>
    </h4>
  </div>
</div>

<div class="well text-right form-buttons" data-hook="buttons">
  <%= link_to Spree.t(:webpay_checkout), @tbk_url+'?token_ws='+@tbk_token, :class => 'btn btn-lg btn-success primary' %>
  <script>Spree.disableSaveOnClick();</script>
</div>
