<p>
  <%= Spree.t(:webpay_redirect) %>
</p>
<% unless Rails.env.production? %>
  Parámetros a enviar:
  <dl>
    <dt>buy_order: </dt>
    <dd><%= @order.number %></dd>

    <dt>session_id</dt>
    <dd><%= params[:state] == 'confirm' ? @order.payments.valid.last.try(:webpay_tx_id) : @order.dummy_webpay_tx_id %></dd>

    <dt>amount: </dt>
    <dd><%= @order.webpay_amount %></dd>

    <dt>return_url</dt>
    <dd><%= webpay_return_url %></dd>
  </dl>
<% end %>
